@import url('style.css');

body {
    display: none;
}

/* h1, h4{
    font-family: "Ultra", serif;
    font-weight: 400;
} */

/* Main Section */

.main-section {
    width: 100%;
    height: 80vh;
    align-content: center;
    background-color: var(--bg-cold);
    position: relative;
}

.main-section svg {
    position: absolute;
    top: 99%;
    bottom: 0;
    left: 0;
    width: 100%;
    height: clamp(108px, 100vw, 250px);
    fill: var(--bg-cold);
    z-index: 5;
}

h1 {
    padding: 0 clamp(2rem, 25vw, 25rem);
    text-align: center;
    color: var(--secondary-color);
    font-size: clamp(1.4rem, 2vw, 10rem);
}

.bg-vector {
    position: absolute;
    overflow: hidden;
    z-index: 10;
}

.vector-1 {
    width: clamp(10rem, 25vw, 15rem);
    right: 0;
    top: 65vh;
}

.vector-2 {
    width: clamp(10rem, 25vw, 25rem);
    top: 75vh;
    left: 5rem;
}

.vector-4 {
    width: clamp(10rem, 25vw, 17rem);
    top: 20vh;
    left: 12vw;
}

.book-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(2rem, 10vw, 10rem);    
    text-align: center;
    height: 100vh;
    width: 100%;
    background-color: var(--bg-warm);
    z-index: 0;
}

.book-form-container .title {
    width: clamp(5rem, 35vw, 30rem);
    font-size: clamp(1rem, 2vw, 1.4rem);
    color: var(--main-color);
}

.book-form-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: clamp(8rem, 25vw, 15rem);
}

.book-form-container form h4 {
    color: white;
    font-size: clamp(1rem, 2vw, 1.5rem);
}

.book-form-container p {
    font-size: 0.6em;
    color: green;
}

.books-container {
    text-align: center;
    width: 100%;
    background-color: var(--bg-cold);
    height: 100vh;
    align-content: center;
}

.books-container h4 {
    color: var(--bg-btn);
}

.books-list {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 2rem;
}

.books-list li {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.books-list li .info {
    display: flex;
    flex-direction: column;
    order: 3;
}

.books-list .info p:first-child {
    color: var(--secondary-color);
    font-weight: 500;
}

.books-list .info p:last-child {
    color: var(--dark);
}

.books-list .user-info {
    order: 2;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
}

.books-list .user-info .name {
    display: flex;
    gap: 0.2rem;
}

.books-list li button {
    background-color: var(--secondary-color);
    order: 4;
    width: 100%;
}

.books-list li button:hover {
    background-color: var(--third-color);
}

.books-list li button:disabled {
    background-color: var(--bg-warm);
    cursor: default;
}

.book_image {
    order: 1;
    width: 250px;
    height: 300px;
}

/* .action-btns {
    display: flex;
    justify-content: center;
    gap: 1rem;
} */

/* .edit-btn {
    flex: 1;
    cursor: pointer;
}

.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.delete-btn svg {
    width: 1.2rem;
} */

/* .overlay {
    background-color: black;
    opacity: 30%;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.form-popup {
    position: fixed;
    z-index: 5;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4rem;
    border-radius: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    display: none;
}

.custom-file-input {
    display: none;
}

.custom-file-label {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--border-color);
    cursor: pointer;
    font-size: 0.6em;
    text-align: start;
} */

@media (max-width: 768px) {
    h1 {
        padding: 0 clamp(1rem, 15vw, 25rem);
    }

    .book-form-container {
        flex-direction: column;
    }

    .book-form-container .title {
        width: clamp(15rem, 50vw, 25rem);
    }

    .book-form-container form {
        width: clamp(15rem, 35vw, 20rem);
    }
}

@media (max-width: 425px) {
    .vector-1 {
        display: none;
    }
}