.container {
    border: 1px solid grey;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-width: 1px;
    border-style: solid;
}

form p {
    text-align: center;
    font-size: 0.6em;
}

.link {
    text-decoration: none;
}