@import url('style.css');

.container {
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

form p {
    text-align: center;
    font-size: 0.6em;
}

.link {
    text-decoration: none;
    color: var(--main-color);
}