@import url('style.css');

.page-container {
    height: 100vh;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    padding: 5rem;
}

.page-container ul {
    flex-direction: column;
}

.sidebar li {
    padding: 0 0.8rem;
    cursor: pointer;
}

.sidebar .active {
    background-color: rgb(216, 216, 216);
    border-radius: 1rem;
}

.content {
    padding-left: 1rem;
}

h4 {
    margin-bottom: 2rem;
}

.books-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 2rem 0;
}

.books-list li {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.books-list li .info {
    display: flex;
    flex-direction: column;
}

.book-item img {
    width: 250px;
    height: 300px;
}

.action-btns {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.edit-btn {
    flex: 1;
    cursor: pointer;
}

.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.delete-btn svg {
    width: 1.2rem;
}

.overlay {
    background-color: black;
    opacity: 30%;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.form-popup {
    position: fixed;
    z-index: 5;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4rem;
    border-radius: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    display: none;
}

.custom-file-input {
    display: none;
}

.custom-file-label {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--border-color);
    cursor: pointer;
    font-size: 0.6em;
    text-align: start;
}

.content-notifications, .content-settings {
    display: none;
}

.notification-item:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
    padding: 1rem 0;
}

.notification-message {
    font-size: 0.8em;
}

.info {
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}