@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --main-color: #6A322F;
    --secondary-color: #D4BBBE;
    --third-color: #F8EEEC;
    --border-color: #d7d7d7;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", serif;
    /* height: 100vh;
    align-content: center; */
    font-size: 20px;
}

header {
    padding: 1rem 5rem 0 5rem;
}

nav {
    display: flex;
}

nav span {
    margin-right: auto;
    font-weight: 700;
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

ul a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    align-content: center;
}