/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ultra&display=swap');
:root {
    --main-color: #3D6F63;
    --secondary-color: #F16C5B;
    --third-color: #A5BA9B;
    --bg-warm: #F2D6C1;
    --bg-cold: #EFEAE4;
    --bg-btn: #F6911F;
    --dark: #3D5150;
    --border-color: #d7d7d7;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    /* font-family: "Poppins", serif; */
    font-family: "Gabarito", serif;
    height: 100vh;
    align-content: center;
    font-size: clamp(16px, 2vw, 20px);
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

h1, h4{
    font-family: "Ultra", serif;
    font-weight: 400;
}

/* Navbar */

header {
    padding: 0 clamp(1rem, 5vw, 5rem);
    padding-top: 1rem;
    background-color: var(--bg-cold);
    font-size: clamp(0.5rem, 1vw, 1.2rem);
}

nav {
    display: flex;
    align-items: center;
}

nav .logo {
    margin-right: auto;
    font-weight: 900;
    font-size: clamp(0.8rem, 2vw, 1.5rem);
    color: var(--main-color);
}

.nav-options {
    align-items: center;
}

.nav-options li {
    display: flex;
    align-items: center;
}

nav svg {
    width: clamp(0.7rem, 0.8vw, 1.2rem);
}

.nav-options a.active, .nav-options a:hover {
    color: var(--bg-btn);
}

/* Buttons */

.custom-file-input {
    display: none;
}

button, input[type="submit"] {
    background-color: var(--secondary-color);
    border: none;
    padding: 0.5rem clamp(0.5rem, 1vw, 1rem);
    border-radius: 1.5rem;
    color: var(--bg-cold);
    cursor: pointer;
}

button:hover {
    background-color: var(--bg-btn);
}

.custom-file-label {
    background-color: white;
    cursor: pointer;
}

input, .custom-file-label {
    padding: 0.5rem clamp(0.8rem, 1vw, 1rem);
    border-radius: 1.5rem;
    border: none;
    font-size: 0.8rem;
    color: var(--dark);
}

input[type="text"], input[type="text"]::placeholder {
    color: var(--dark);
}

input:focus-visible {
    outline: none;
    border: none;
}


/* Form */

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}


input[type="submit"] {
    background-color: var(--main-color);
    color: var(--bg-cold);
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--third-color);
}

.profile_image {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 4rem; */
}

/* Media Queries */

@media (max-width: 700px) {
    
}